{% extends 'header.html.twig' %}

{% block content %}

    <main class="container pt-5">
        <h1 class="text-center">Help</h1>
        <div class="row mb-4">
            <div class="col-sm-6 text-center">
                <h3>FAQ</h3>
                <label>Q: What's the point of PlaceHolder?</label>
                <p>A: PlaceHolder Bookings is an Event Management System that allows users to create, modify, and delete
                    events, and allows other users to register onto these events! The aim of PlaceHolder is to solve the
                    problem of other proprietary tickets/events sites by providing a free, open source software model
                    that grants freedom to the user, giving the user control of their own data. Also, organisations can
                    use, modify, and improve PlaceHolder on their own systems! This prevents reliance on external
                    services in organisations where this might not be ideal, such as government or healthcare systems.</p>

                <label>Q: Who can use PlaceHolder?</label>
                <p>A: Short answer: anybody!</p>

                <label>Q: Does PlaceHolder have a place outside of event management?</label>
                <p>A: Unfortunately, not yet! However, in the future there are many ways the application could expand.
                    These include budget management, event logistics, or convention planning, for example. </p>

                <label>Q: How do I join?</label>
                <p>A: To create an account, click the "Register" link at the top right hand side of this page, and fill
                    in the required information!</p>
            </div>
            <div class="col-sm-6 text-center">
                <h3>Get in touch!</h3>
                <p>If you have any further queries, you can contact us <a href="mailto:help@place-holder.tech">here!</a></p>
            </div>
        </div>
    </main>

{% endblock %}